*{
    margin: 0;
    padding: 0px;
    font-size: 10px;
    box-sizing: border-box;
}

body {
    padding: 3em;
}

heather {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    font-family: 'Press Start 2P', cursive;
}

.logo {
    width: 50em;
    height: 10em;
    margin-right: 4em;
    padding: 3em;
    background-image: url(../img/1591232053614.png);
    background-size: contain;
}

.texto {
    width: 35em;
    height: auto;
    margin-left: 2.3em;
}

.texto p{
    font-size: 2em;
    text-align: center;
    color: #F25E5E; 
    text-align: end;
}

.encabezado{
    width: 95em;
    height: 10em;
    padding: 3em;
    background-color: #F29191;

}

.encabezado p{
    font-size: 3em;
    text-align: center;
    color: #F2C9C9;
}

section{
    width: 100%;
    background-image: url(../img/plant.jpg);
    background-size: cover;
}

.general{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 2.5em;
    
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.producto {
    width: 30em;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.img {
    width: 30em;
    height: 20em;
    margin-bottom: 2em;
    padding-left: 5em;
}

.img img{
    width:22em;
}

.imp {
    width: 30em;
    height: 20em;
    margin-bottom: 2em;
    padding-left: 8em;
    padding-top: 3em;
}

.imp img{
    width:15em;
}


.titulo {
    width: 30em;
    height: 3em;
    margin-bottom: 2em;
    background-color:#054035;
    text-align: center;
    padding-top: 0.5em;
}

.titulo p {
    font-size: 2em;
    color: #78BFAB;
    font-family: 'Gochi Hand', cursive;
}

.parrafo {
    width: 30em;
    height: 50em;
    background-color: #78BFAB;
    padding: 2.5em;
}

.parrafo p{
    font-family: 'Gochi Hand', cursive;
    font-size: 2em;
    color: #054035;
}

-------------------------------------------------------------------

@media only screen and (max-width: 767px) {
    
    *{
    margin: 0;
    padding: 0px;
    font-size: 10px;
    box-sizing: border-box;
    }

    body {
        padding: 3em;
    }

    heather {
        width: 100%;
        height: auto;
        margin: auto;
        display: flex;
        flex-direction: row;
        font-family: 'Press Start 2P', cursive;
    }

    .logo {
        width: 20em;
        height: 7em;
        margin-right: 2em;
        padding: 3em;
        background-image: url(../img/1591232053614.png);
        background-size: contain;
    }

    .texto {
        width: 30em;
        height: auto;
        margin-left: 2.3em;
    }

    .texto p{
        font-size: 2em;
        text-align: center;
        color: #F25E5E; 
        text-align: end;
    }

    .encabezado{
        width: 65em;
        height: 10em;
        padding: 3em;
        background-color: #F29191;

    }

    .encabezado p{
        font-size: 1em;
        text-align: center;
        color: #F2C9C9;
    }

    section{
        width: 100%;
        background-image: url(../img/plant.jpg);
        background-size: cover;
    }

    .general{
        width: 100%;
        height: auto;
        margin: auto;
        margin-top: 2.5em;

        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .producto {
        width: 30em;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
    }

    .img {
        width: 30em;
        height: 20em;
        margin-bottom: 2em;
        padding-left: 5em;
    }

    .img img{
        width:22em;
    }

    .imp {
        width: 30em;
        height: 20em;
        margin-bottom: 2em;
        padding-left: 8em;
        padding-top: 3em;
    }

    .imp img{
        width:15em;
    }


    .titulo {
        width: 30em;
        height: 3em;
        margin-bottom: 2em;
        background-color:#054035;
        text-align: center;
        padding-top: 0.5em;
    }

    .titulo p {
        font-size: 2em;
        color: #78BFAB;
        font-family: 'Gochi Hand', cursive;
    }

    .parrafo {
        width: 30em;
        height: 50em;
        background-color: #78BFAB;
    }

    .parrafo p{
        font-family: 'Gochi Hand', cursive;
        font-size: 5em;
        color: #054035;
    }

    
}